
- if level.value <= 0
  i.fa.fa-star-o.assets class="#{level}" title="资产特级：#{level.text}" data-toggle="tooltip" data-placement="top"
- else
  i.fa.fa.fa-diamond.assets class="#{level}" title="资产特级：#{level.text}" data-toggle="tooltip" data-placement="top"
